.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 60%;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: hsl(122, 21%, 52%);
    border-radius: 10px;
}
.text{
    margin-top: 15px;
    text-align: center;
    font-family: "Arial Rounded MT Bold", serif;
    color: #ffffff;
    letter-spacing: 0.5px;
}

.input {
    text-align: center;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

{/*display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;*/}

.formErrors {
    font-weight: bold;
    padding: 3px;
    color: white;
}

.button{
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 26px;
    box-shadow: 0 2px 2px #2a4a2a;
    background-color: antiquewhite;
    width: 100%;
}

.label{
    color: #2a4a2a;
    text-align: left;
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}